html
{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url(download.png);
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
}